.App {
  font-size: 20px;
}

.navbar {
  padding-left: 0;
}

.navbar-brand {
  font-size: 32px;
}

h1 {
  font-size: 28px;
}

.form-label {
  font-size: 18px;
}

a, a:hover {
  color: #3c3c3c;
  text-decoration: underline;
}

a.btn {
  text-decoration: none;
}

.controls {
  cursor: pointer;
  text-decoration: underline;
}

.btn-create-container {
  margin-top: 15px;
  margin-bottom: 25px;
}

.FinanceReport-total-row {
  font-weight: bold;
  border-top: 3px solid #aaa;
}

.table .FinanceReport-total-col {
  font-weight: bold;
  border-left: 3px solid #aaa;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
