<!DOCTYPE HTML>
<html>
<head>
    <title>Catalog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div>
    <form method="post" action="/insert/catalog">
        <input type = "text" name="goodsName" required placeholder = "Введите название детали"/>
        <button type="submit">Добавить деталь в каталог</button>
    </form>
</div>


<table border = "1">
    <th>Каталог деталей</th>
    {{#details}}
        <tr>
            <td>
                {{goodsName}}
            </td>
        </tr>
    {{/details}}
</table>
</body>
</html>