<!DOCTYPE HTML>
<html>
<head>
    <title>Заказы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<a href="/">Back to main</a>
<br>
<a href="/insert/">Back to inserts</a>
<div>
    <form method="post" action="/insert/order">
        <input type="date" name="orderDate" required/>
        <button type = "submit">Создать заказ</button>
    </form>
</div>

<table>
    <caption>Список заказов(чеков)</caption>
    <tr>
        <th>Номер заказа(чека)</th>
        <th>Дата заказа(чека)</th>
    </tr>

    {{#orders}}
        <tr>
            <td>№{{orderId}}</td>
            <td>{{orderDate}}</td>
        </tr>
    {{/orders}}
</table>
</body>
</html>