<!DOCTYPE HTML>
<html>

<head>
    <title>Возвраты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<a href="/">Back to main</a>
<br>
<a href="/insert/">Back to inserts</a>
<div>
    <form method="post" action="/insert/reject">
        <select name = "orderId" placeholder = "Заказ(чек)" required>
            {{#order}}
                <option value = {{orderId}}>
                    №{{orderId}} {{orderDate}}
                </option>
            {{/order}}
        </select>

        <input type="number" name="amount" min="1" placeholder="Количество товара" required/>

        <select name ="goodsId" placeholder = "Товар" required>
            <option selected disabled value=''>Выберите товар</option>
            {{#goods}}
                <option value = {{goodsId}}>
                    {{goodsName}}
                    (Производитель: "{{producer}}")
                    (Поставщик: "{{providerName}}")
                </option>
            {{/goods}}
        </select>

        <button type = "submit">Добавить возврат.</button>
    </form>
</div>
<table>
    <caption>Содержимое возврата</caption>
    <tr>
        <th>Номер заказа(чека)</th>
        <th>Дата заказа(чека)</th>
        <th>Товар</th>
        <th>Количество</th>
    </tr>
    {{#reject}}
        <tr>
            <td>{{orderId}}</td>
            <td>{{orderDate}}</td>
            <td>{{goodsName}}</td>
            <td>{{amount}}шт.</td>
        </tr>
    {{/reject}}
</table>
</body>
</html>