<!DOCTYPE HTML>
<html>
<head>
    <title>storage Transactions!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>
    <div>
        <form method="post" action="/insert/storageTransactions">
            <select name="goodsId" placeholder = "Гудс">
                {{#goods}}
                    <option value = {{goodsId}}>
                        {{goodsName}} {{detailId}} {{size}} {{deliveryTime}}
                        {{purchasePrice}} {{sellingPrice}} {{producer}} {{providerName}}
                    </option>
                {{/goods}}
            </select>

            <input type="number" name="amount" placeholder="Количество товара"/>

            <select name="cellsId" placeHolder = "Номер Ячейки">
                {{#storage}}
                    <option value = {{cellsId}}>
                        {{cellsId}} {{cellsSize}}
                    </option>
                {{/storage}}
            </select>
            <input type="date" name="transactionDate"/>
            <button type = "submit">Добавить транзакцию.</button>
        </form>
    </div>
    {{#storageTransactions}}
        <div>
            {{storageTransactionId}} {{goodsName}} {{cellsId}} {{transactionDate}}
        </div>
    {{/storageTransactions}}
</h1>
</body>
</html>